<mat-sidenav-container class="contenedor">
  <mat-sidenav #sidenav mode="side" [opened]="sidenavAbierto" class="sidenav">
    <div class="logo">
      <mat-icon>inventory</mat-icon>
      <span>Almacén</span>
    </div>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems"
         [routerLink]="item.disponible ? item.route : null"
         routerLinkActive="activo"
         [class.deshabilitado]="!item.disponible">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
        <span class="pronto" *ngIf="!item.disponible">Próximamente</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="titulo">Almacén de Productos</span>
      <span class="spacer"></span>
      <button mat-icon-button
              (click)="themeService.alternar()"
              [matTooltip]="themeService.esOscuro ? 'Modo claro' : 'Modo oscuro'">
        <mat-icon>{{ themeService.esOscuro ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </mat-toolbar>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>